# Fill in these variables in a local '.env' file on the server
VPS_PORT=YOUR_VPS_PORT_HERE
VPS_PRIVATE_KEY=YOUR_VPS_PRIVATE_KEY_HERE
VPS_PUBLIC_KEY=YOUR_VPS_PUBLIC_KEY_HERE
DREAMLO_PRIVATE_KEY=YOUR_DREAMLO_PRIVATE_KEY_HERE
DREAMLO_PUBLIC_KEY=YOUR_DREAMLO_PUBLIC_KEY_HERE